{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    {{ include('_parts/_header.html.twig') }}

    <main class="center-wrapper">
        <form method="post">
            <h2 class="mb-3 font-weight-normal text-center">Connexion</h2>
            <div class="d-flex flex-row justify-content-between align-items-center w-100 mb-2">
                <label for="inputEmail">E-mail</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-text-input" required autofocus>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center w-100 mb-4">
                <label for="inputPassword" class="mt-2">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control form-text-input" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="checkbox mt-2 mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>

            <p>Vous n'avez pas encore de compte ? <a href="{{ path('app_register') }}">S'enregistrer</a></p>

            <button class="btn btn-primary w-100 mb-2" type="submit">Se Connecter</button>
            <a class="btn btn-light w-100" href="{{ path('app_landing_page') }}">Retour</a>
        </form>
    </main>

    {{ include('_parts/_footer.html.twig') }}

{% endblock %}
