{% extends 'base.html.twig' %}

{% block title %}Demande de Séjour{% endblock %}

{% block body %}

    {{ include('_parts/_header.html.twig') }}

    <main class="d-flex flex-column align-items-center">
        <div class="card user-card mt-3 mb-3 p-2">
            <div class="d-flex flex-row align-items-center mb-2">
                <img style="width: 60px; height: auto;" src="{{ asset('images/user.png') }}" alt="User">
                <div class="d-flex flex-column">
                    <h2 class="m-0 ms-2">{{ currentUser.firstname }} {{ currentUser.lastName }}</h2>
                    <p class="m-0 ms-2">{{ currentUser.address }}</p>
                </div>
            </div>
        </div>

        <div class="card user-card align-items-center mb-2 p-2">
            <h3>Demande de séjour</h3>
            {{ form_start(form) }}
                <div class="d-flex flex-row justify-content-between align-items-center w-100 mb-5">
                    {{ form_label(form.doctor) }}
                    {{ form_widget(form.doctor) }}
                </div>

                <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
            {{ form_end(form) }}
        </div>

        {{ include('main/_delete_form.html.twig') }}
    </main>

    {{ include('_parts/_footer.html.twig') }}

{% endblock %}