{% extends 'base.html.twig' %}

{% block title %}Espace Utilisateur{% endblock %}

{% block body %}

    {{ include('_parts/_header.html.twig') }}

    <main class="d-flex flex-column align-items-center">
        <div class="card user-card mt-3 mb-3 p-2">
            <div class="d-flex flex-row align-items-center mb-2">
                <img style="width: 60px; height: auto;" src="{{ asset('images/user.png') }}" alt="User">
                <div class="d-flex flex-column">
                    <h2 class="m-0 ms-2">{{ currentUser.firstname }} {{ currentUser.lastName }}</h2>
                    <p class="m-0 ms-2">{{ currentUser.address }}</p>
                </div>
            </div>
        </div>

        <div class="card user-card mb-2 p-2">
            <h3>Séjours à venir</h3>
            <ul>
                {% for stay in incommingStays %}
                    <li>
                        <a href="{{ path('app_main_show', {'id': stay.id}) }}">
                            {{ stay.reason }} - du {{ stay.dateFrom|format_datetime(locale='fr',pattern="dd-MM") }} au {{ stay.dateTo|format_datetime(locale='fr',pattern="dd-MM-YYYY") }} avec le Docteur {{ stay.doctor.lastname }} ({{ stay.doctor.specialty.name }})
                        </a>
                    </li>
                {% else %}
                    <p class="text-center">Aucun séjour à venir</p>
                {% endfor %}
            </ul>
        </div>

        <div class="card user-card mb-2 p-2">
            <h3>Séjours en cours</h3>
            <ul>
                {% for stay in currentStays %}
                    <li>
                        <a href="{{ path('app_main_show', {'id': stay.id}) }}">
                            {{ stay.reason }} - du {{ stay.dateFrom|format_datetime(locale='fr',pattern="dd-MM") }} au {{ stay.dateTo|format_datetime(locale='fr',pattern="dd-MM-YYYY") }} avec le Docteur {{ stay.doctor.lastname }} ({{ stay.doctor.specialty.name }})
                        </a>
                    </li>
                {% else %}
                    <p class="text-center">Aucun séjour en cours</p>
                {% endfor %}
            </ul>
        </div>

        <div class="card user-card p-2">
            <h3>Séjours passés</h3>
            <ul>
                {% for stay in pastStays %}
                    <li>
                        <a href="{{ path('app_main_show', {'id': stay.id}) }}">
                            {{ stay.reason }} - du {{ stay.dateFrom|format_datetime(locale='fr',pattern="dd-MM") }} au {{ stay.dateTo|format_datetime(locale='fr',pattern="dd-MM-YYYY") }} avec le Docteur {{ stay.doctor.lastname }} ({{ stay.doctor.specialty.name }})
                        </a>
                    </li>
                {% else %}
                    <p class="text-center">Aucun séjour passé</p>
                {% endfor %}
            </ul>
        </div>

        <form>
            <a class="btn btn-primary mt-3 w-100" href="{{ path('app_main_new') }}">Prendre RDV</a>
        </form>
    </main>

    {{ include('_parts/_footer.html.twig') }}

{% endblock %}
