{% extends 'base.html.twig' %}

{% block title %}Stay{% endblock %}

{% block body %}
    <h1>Stay</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stay.id }}</td>
            </tr>
            <tr>
                <th>Date_from</th>
                <td>{{ stay.dateFrom ? stay.dateFrom|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_to</th>
                <td>{{ stay.dateTo ? stay.dateTo|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ stay.reason }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_main') }}">back to list</a>

    {{ include('main/_delete_form.html.twig') }}
{% endblock %}
