{{ form_start(form) }}
    {% if dateOrderError == true %}
        <div class="alert alert-warning">La date de fin de traitement ne peut pas être antérieure à la date de début de traitement</div>
    {% endif %}

    <div class="d-flex flex-row justify-content-between align-items-center w-100 mb-5">
        {{ form_label(form.date_to) }}
        {{ form_widget(form.date_to) }}
    </div>

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
