{{ form_start(form) }}
    {% if dateOrderError == true %}
        <div class="alert alert-warning">La date de fin de traitement ne peut pas être antérieure à la date de début de traitement</div>
    {% endif %}
    {% if pastDateError == true %}
        <div class="alert alert-warning">Les dates séléctionnées ne sont pas correctes</div>
    {% endif %}

    <div class="d-flex flex-row justify-content-between align-items-center w-100 mb-1">
        {{ form_label(form.medication) }}
        {{ form_widget(form.medication) }}
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center w-100 mb-3">
        {{ form_label(form.quantity) }}
        {{ form_widget(form.quantity) }}
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center w-100 mb-1">
        {{ form_label(form.date_from) }}
        {{ form_widget(form.date_from) }}
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center w-100 mb-5">
        {{ form_label(form.date_to) }}
        {{ form_widget(form.date_to) }}
    </div>

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
