{% extends 'base.html.twig' %}

{% block title %}Prescription{% endblock %}

{% block body %}
    <h1>Prescription</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prescription.id }}</td>
            </tr>
            <tr>
                <th>Date_from</th>
                <td>{{ prescription.dateFrom ? prescription.dateFrom|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_to</th>
                <td>{{ prescription.dateTo ? prescription.dateTo|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Medication</th>
                <td>{{ prescription.medication ? prescription.medication|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_prescription_index') }}">back to list</a>

    <a href="{{ path('app_prescription_edit', {'id': prescription.id}) }}">edit</a>

    {{ include('prescription/_delete_form.html.twig') }}
{% endblock %}
