{% extends 'base.html.twig' %}

{% block title %}Espace Administrateur{% endblock %}

{% block body %}

    {{ include('_parts/_header.html.twig') }}

    <main class="d-flex flex-column align-items-center">
        <div class="card user-card mt-3 mb-3 p-2">
            <h2 class="m-0 mb-3">Administration</h2>

            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th style="width:30%">NOM</th>
                        <th style="width:30%">Prénom</th>
                        <th style="width:40%">Spécialité</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="{{ path('app_admin_show', {'id': user.id}) }}">{{ user.lastname }}</a></td>
                        <td><a href="{{ path('app_admin_show', {'id': user.id}) }}">{{ user.firstname }}</a></td>
                        <td><a href="{{ path('app_admin_show', {'id': user.id}) }}">{{ user.specialty.name }}</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="text-center" colspan="4">Aucun docteur trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <form>
            <a class="btn btn-primary mt-3 w-100" href="{{ path('app_admin_new') }}">Ajouter</a>
        </form>
    </main>

    {{ include('_parts/_footer.html.twig') }}

{% endblock %}
