{% extends 'base.html.twig' %}

{% block title %}Espace Administrateur{% endblock %}

{% block body %}
    
    {{ include('_parts/_header.html.twig') }}

    <main class="d-flex flex-column align-items-center mb-2">
        <div class="card user-card mt-3 mb-3 p-2">
            <h3>Dr {{ user.lastname }} {{ user.firstname }}</h3>
            <ul>
                <li><b>Matricule :</b> {{ user.registrationNumber }}</li>
                <li><b>E-mail :</b> {{ user.email }}</li>
                <li><b>Spécialité :</b> {{ user.specialty.name }}</li>
            </ul>
        </div>
    </main>

    <form>
        <a class="btn btn-primary w-100 mt-2" href="{{ path('app_admin') }}">Retour</a>
    </form>

    {{ include('_parts/_footer.html.twig') }}

{% endblock %}
