{{ form_start(form) }}
    {% if dateError == true %}
        <div class="alert alert-warning">La date selectionnée n'est pas incluse dans la durée du séjour</div>
    {% endif %}
    
    <div class="d-flex flex-row justify-content-between align-items-center w-100 mb-1">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center w-100 mb-3">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center w-100 mb-5">
        {{ form_label(form.date) }}
        {{ form_widget(form.date) }}
    </div>

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
